// Color  Format
$primary-color:#FF4DFF;
$secondary-color:#9A9A9A;

// Background Format
$primary-background-color:#FF4DFF;
$secondary-background-color:#9A9A9A;

// Text format
$primary-text-color:#3366FF;
$secondary-text-color:#000000;


// $primary-font-family:{
//     font-family: Roboto;
// }